<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Modal Script. -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">



    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MAPS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <div class="navbar-form navbar-right">
              <button id="login_nav" type="button" class="btn btn-primary" data-toggle="modal" data-target=".login-modal">Login</button>
              <button id ="reg_nav" type="button" class="btn btn-primary" data-toggle="modal" data-target=".register-modal"> Register</button>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><button id="yourProf" class ="btn btn-primary" type="button">Your profile </button></li>
                <li role="separator" class="divider"></li>
                <li><button id="logout" class ="btn btn-primary" type="button">Logout</button></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id = "loginmodal" class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <section id="login_container">
            <div>
              <label for="email_id" class ="labelLogEmail">Email id </label>
              <input class="login_email" type="email" name="email"> <br>
              <label for="password">Password</label>
              <input class="login_password" type="password" name="password"> <br>
              <button id = "login"> Login </button>
            </div>
          </section>'
        </div>
      </div>
    </div>

    <div id="regmodal" class="modal fade register-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <section id="register_container">
              <div>
                <label for="email_id" class="labelRegEmail">Email id </label>
                <input class="reg_email" type="email" name="email"> <br>
                <label for="password">Password</label>
                <input class="reg_password" type="password" name="password"> <br>
                <label for="username">Username</label>
                <input class="reg_username" type="text" name="username"> <br>
                <button id="register">Register</button>
              </div>
            </section>
        </div>
      </div>
    </div>
  </head>
