<!DOCTYPE html>
<html lang="en">
 <% include ./partials/_headers %>
 <body background="http://www.teleinx.com/wp-content/uploads/2014/07/world_white.jpg  ">

    <main class = "container" style=" background-color: rgba(255, 255, 255,0.4); font-size: 30px; margin-top: -50px" >
      <h1 id="display_username"></h1>
      <h2> All time Favourite Lists </h2>
      <br>
      <section id="listfav">
      </section>
    </main>
  </body>
</html>
