<!DOCTYPE html>
<html lang="en">
 <% include ./partials/_headers %>
 <body>

    <main class = "container">
      <h2 id="display_username"></h2>
      <h3> All time Favorite Lists </h3>
      <section id="listfav">
        <h4> example</h4>
        <p> try </p>
      </section>
    </main>
  </body>
</html>
