<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../styles/layout.css" type="text/css" />

    <script type="text/javascript" src="../vendor/jquery-3.0.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="../vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="../scripts/maps_page.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Modal Script. -->

    <script type="text/javascript" src="../scripts/maps_page.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

<!-- leaflet -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>
    <% include ./partials/_nav %>

</head>

<body data-mid="<%=mid%>" data-canedit="<%=canEdit%>">

      <h1><%=title%></h1>
      <h2><%=description%></h2>
    <div class="col-md-12 my_map">
      <div id="leafletmap" style="width:100%; height: 400px;"></div>
    </div>
    <div id="points-list" class="col-md-12">
    </div>


  <div class="modal fade" id="add-point-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create A New Point</h4>
        </div>
        <div class="modal-body">
          <label>Title:</label>
          <br>
          <input class="textbox-title" type="text"></input>
          <br>
          <label>Description:</label>
          <br>
          <textarea class="textbox-description"></textarea>
          <br>
          <label>Image:</label>
          <br>
          <input class="textbox-image"></input>
        </div>
        <div class="modal-footer">
          <button id="add-new-point">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit-point-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Point</h4>
        </div>
        <div class="modal-body">
          <label>Title:</label>
          <br>
          <input class="textbox-title" type="text"></input>
          <br>
          <label>Description:</label>
          <br>
          <textarea class="textbox-description"></textarea>
          <br>
          <label>Image:</label>
          <br>
          <input class="textbox-image"></input>
        </div>
        <div class="modal-footer">
          <button id="edit-point">Save</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
